/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 600px;
  padding-top: 2rem;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.footer {
  margin-top: 5;
}

.title {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #209869;
  color: white;
  font-weight: bold;
}

.modal-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.game {
  background-color: #f7f9d7;
  color: red;
}

.info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #209869;
  color: white;
}

.actions {
  margin-top: 5px;
  /* display: flex;
  justify-content: center; */
}

.verify {
  width: 100%;
  border: none;
  background-color: #209869;
  color: white;
}

.clear {
  width: 100%;
  background-color: transparent;
  border: none;
}

.untoggled-button {
  /* background-image: green !important; */
  background-color: transparent;
  color: red;
  /* border: none; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 10%;
}

.untoggled-button-active {
  background-color: rgb(124, 124, 233);
  color: rgb(156, 10, 10);
  font-weight: bold;
  width: 10%;
  /* border: none; */
}